.App {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    font-style: inherit;
    font-family: monospace;
    
    &__controll {
        display: flex;    
        margin-top: 20px;
        width: 100%;
        height: 10%;
        align-items: center ;

        & div {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & select {
            height: 50%;
            border-radius: 5px;
            height: 30px;
        }
        
        & button {
            font-style: normal;
            font-weight: bolder;
            color: bisque;
            outline-style: none;
            margin-left: 10px;
            background-color: #0075D8;
            height: 30px;
            border-radius: 5px;
        }
    }

    &__info {
        display: flex;
        height: 100%;
        width: 50%;
        color: #896D3A;

        &__container {

            & div {
                display: flex;
                align-items: center;
                padding-left: 10px;
                height: 40px;
                width: 150px;
                border-radius: 5px;
                margin-bottom: 4px;
                background-color: #FBF8E3;
            }
        }
    }
    
    &__square{
        display: flex;
        justify-content: center;
        height: 100%;
        width: 50%;
        
        &__container {
            width: 300px;
            height: 300px;
            border: 1px solid #896D3A;
            border-bottom: none;
        }
    }
}
 
.row {
    display: flex; 

}

.col {
    display: flex;
    border: solid 1px #896D3A;
    border-top: none;
    border-left: none;
}

.col.blue {
    background-color: #10A7F4;
}

.col.easy{
    height: calc(300px / 5);
    width: calc(300px / 5);
    &:nth-child(5n + 5) {
        border-right: none;
    } ;
  
    
}

.col.medium {
    height: calc(300px / 10);
    width: calc(300px / 10);    
    &:nth-child(10n + 10) {
        border-right: none;
    } ;
    
}
.col.hard {
    height: calc(300px / 15);
    width: calc(300px / 15);    
    &:nth-child(15n + 15) {
        border-right: none;
    } ;
}